:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Lora", sans-serif;
  --third-family: "Roboto", sans-serif;
}

/*=======================GLOBAL=========================================*/

body {
  font-family: "Roboto" "Poppins";
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}

/*========================HEADER===============================================*/

/*========================MAIN===============================================*/

/*========================FOOTER===============================================*/
