:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Lora", sans-serif;
  --third-family: "Roboto", sans-serif;
}

/*=======================GLOBAL=========================================*/

body {
  font-family: "Roboto" "Poppins";
}

/*========================HEADER===============================================*/

/*========================MAIN===============================================*/

/*========================FOOTER===============================================*/
