:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Lora", sans-serif;
  --third-family: "Roboto", sans-serif;
}

/*=======================GLOBAL=========================================*/

body {
  font-family: var(--font-family);
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #1e252b;
}
.container {
  max-width: 1255px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*========================HEADER===============================================*/
.header {
  padding-top: 25px;
  padding-bottom: 60px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo-text {
  font-weight: 600;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
}
.header-action {
  display: flex;
  align-items: center;
  gap: 40px;
}
.action-link {
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.78);
  padding: 12px 28px;
}
.action-link:hover {
  background-color: #ff6e30;
  border-radius: 8px;
  color: #fdf5ff;
}

/*========================MAIN===============================================*/
.hero {
  padding-top: 45px;
  background-image: url(../img/icons/Illustration.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.9);
  max-width: 600px;
  margin-bottom: 30px;
}
.hero-title-decor {
  color: #ff6e30;
}
.hero-text {
  line-height: 1.67;
  max-width: 485px;
  margin-bottom: 60px;
}
.hero-search {
  background-color: #283036;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  padding: 8px 11px 8px 18px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.search-input {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
  background-color: transparent;
}
.search-input::placeholder {
  color: rgba(255, 255, 255, 0.38);
}
.search-button {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  padding: 12px 36px;
  background-color: #ff6e30;
  border-radius: 8px;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.tools {
  padding-top: 200px;
}
.tools-container {
  display: flex;
  flex-direction: column;
}
.tools-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-bottom: 25px;
}
.tools-text {
  font-weight: 500;
  line-height: 1.67;
  max-width: 425px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 110px;
}
.tools-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 25px;
  margin-bottom: 100px;
}
.tools-list :hover {
  background-color: rgb(40, 48, 54, 0.6);
  background-image: radial-gradient(
    at right top rgb(253, 173, 0),
    rgb(235, 108, 0),
    rgb(253, 210, 49)
  );
}

.tools-item {
  flex-basis: calc((100% - 50px) / 3);
}

.tool {
  padding: 33px;
  border-radius: 15px;
}
.tool-top {
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
}

.tool-name {
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.78);
  margin-bottom: 3px;
}
.tool-license {
  color: rgba(255, 165, 55, 0.55);
}
.tool-text {
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 30px;
}
.tool-link {
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  padding: 9px 35px;
}
.tool-link:hover {
  background-color: #ff6e30;
}
.tool-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.tool-action {
  padding: 7px;
}
.tool-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tool-like {
  appearance: none;
  width: 26px;
  height: 22px;
  background-image: url(../img/logo/heart.svg);
  background-size: contain;
  background-position: center;
}
.tool-like:checked {
  background-image: url(../img/logo/red.heart.svg);
}
.tool-favourites {
  appearance: none;
  width: 26px;
  height: 22px;
  background-image: url(../img/logo/folder.svg);
  background-size: cover;
  background-position: center;
}

.tools-button {
  font-weight: 500;
  font-size: 20px;
  color: #ff6e30;
  text-align: center;
  background-color: #1e252b;
  padding: 17px 38px;
  align-self: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.tools-button:hover {
  color: #1e252b;
  background-color: #ff6e30;
}
.partners {
  padding-top: 200px;
  background-color: rgb(44, 53, 61);
  border-radius: 25px;
}
.partners-title {
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-bottom: 55px;
}
.new-tools {
  padding-top: 200px;
}
.new-tools-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.new-tools-body {
  max-width: 427px;
}
.new-tools-list {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 25px;
}
.new-tools-item {
  flex-basis: calc((100% - 25px) / 2);
}
.new-tools .tool {
  padding: 28px 22px;
}
.new-tools-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
}
.partners-list {
  display: flex;
  align-items: center;
  gap: 107px;
  justify-content: center;
}
.new-tools-text {
  font-weight: 500;
  line-height: 1.67;
  margin-bottom: 60px;
}
.new-tool-link {
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
  background-color: #ff6e30;
  padding: 15px 40px;
}
.new-tool-link:hover {
  border: #ff6e30 solid 1px;
  background-color: transparent;
}
.about {
  padding-top: 200px;
}
.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-text {
  font-family: var(--third-family);
  font-size: 14px;
  line-height: 2.14;
  color: rgba(255, 255, 255, 0.78);
  max-width: 440px;
}
.about-photo {
  padding-left: 45px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  background-image: url(../img/logo/quotes.svg);
  background-repeat: no-repeat;
  background-position: right top;
}
.contributor {
  padding-top: 250px;
  padding-bottom: 240px;
}
.contributor-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-bottom: 25px;
}
.contributor-text {
  font-weight: 500;
  line-height: 1.67;
  max-width: 427px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
}
.contributor-subscribe {
  background-color: #283036;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  padding: 8px 11px 8px 18px;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.subscribe-input {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.38);
  background-color: transparent;
}
.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.38);
}
.subscribe-button {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  padding: 12px 36px;
  background-color: #ff6e30;
  border-radius: 8px;
}
.subscribe-button:hover {
}

/*========================FOOTER===============================================*/
.footer {
  padding-top: 70px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  gap: 160px;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  width: 1440px;
  height: 0px;
}
.logo-footer-logo {
  font-weight: 600;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  margin-bottom: 25px;
}
.antool-logo {
  border-radius: 8px;
  width: 38px;
  height: 38px;
  flex-direction: row-reverse;
}
.info-copyright {
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 21px;
}
.footer-info-text {
  font-size: 14px;
  line-height: 1.79;
  max-width: 260px;
}
.footer-info-lists {
  display: flex;
  gap: 115px;
}
.info-list-title {
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}
.info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-item {
  font-weight: 500;
  font-size: 16px;
}
.info-list-wrapper {
  font-weight: 500;
  font-size: 16px;
}
